<div class="container">
  <div class="col-sm-12">
    <h2>Listing Users</h2>
    <div class="pull-right" style="margin-top: -40px">
      <%= link_to "New Users", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user , index| %>
        <tr>
          <th><%= index+1 %></th>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "View", user_path(user), class: "glyphicon glyphicon-inbox btn btn-sm btn-info" %>
          </td>
          <td>
            <%= link_to "Delete", user_path(user), class: "glyphicon glyphicon-remove btn btn-sm btn-danger", method: :delete, data: { confirm: "Do you want delete #{user.email}?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center col-sm-12">
    <%= paginate @users %>
  </div>

</div>
