<div class="span3 col-md-4 col-md-offset-4">
  <legend><h2>Create User</h2></legend>

  <%= form_for @user, url: user_index_path, method: :post do |f| %>
    <fieldset>
      <div class="form-group">
        <%= f.label :first_name, class: :"col-sm-4 control-label"  %>
        <div class="col-sm-8">
          <%= f.text_field :first_name, class: :"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: :"col-sm-4 control-label"  %>
        <div class="col-sm-8">
          <%= f.text_field :last_name, class: :"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: :"col-sm-4 control-label"  %>
        <div class="col-sm-8">
          <%= f.email_field :email, class: :"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone, class: :"col-sm-4 control-label"  %>
        <div class="col-sm-8">
          <%= f.telephone_field :phone, class: :"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Create", class: :"btn btn-primary col-sm-12"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
